input {
   display:block;
   display: flexbox;
   flex: auto; 
}

.display-5 {
   margin: 10px 50px 10px 50px;
}

.user_form {
   position: absolute;
   display: flex;
   /* border: black 5px solid; */
}

ul a {
   margin: 20px 0px 0px 0px;
}

ul {
   list-style: none;
}
