input {
   display:block;
   display: flexbox;
   flex: auto; 
}

.display-5 {
   margin: 10px 50px 10px 50px;
}

.user_form {
   display: flex;
   /* border: black 5px solid; */
}

ul a {
   margin: 20px 0px 0px 0px;
}

ul {
   list-style: none;
}

li {
   border: solid rgba(0, 0, 0, 0.9) 2px;
   border-radius: 5px;
   padding: 25px 10px 25px 10px;
   margin: 3px 0px 3px 0px;
}