

{% extends 'base.html' %}

{% block title %}
Comments
{% endblock %}

{% block body %}
<h1 class="display-1 text-center">Comments</h1>
<div class="display-4 text-center">"{{post.content}}"</div>
<div class="container">
<table class="table bg-light">
   {% for comment in comments %}
   <tr><td>{{comment.comment}}</td><td>{{comment.user.get_full_name()}}</td></tr>
   {% endfor %}
</table>
</div>

<div class="form">
  <form action="/comments/submit/{{post.post_id}}" method="POST">
    {% for field in form
      if field.widget.input_type != 'hidden' %}
      <div class="form-group">
      {{field.label}}
      {{field(class_="inputs")}}

      {% for err in field.errors %}
      <small class="form-text">{{err}}</small>
      {% endfor %}
      </div>
   {% endfor %}
   <button>Submit</button>
  </form>
</div>

{% endblock %} 