{% extends 'base.html' %}

{% block title %}
Edit User
{% endblock %}

{% block body %}
<h1 class="display-1">{{user.get_full_name()}}</h1>
<form action="/users/edit/{{user.user_id}}" method="POST">
   {% for field in form
      if field.widget.input_type != 'hidden' %}
      <div class="form-group">
      {{field.label}}
      {{field(class_="inputs")}}
      {% for err in field.errors %}
      <small class="form-text">{{err}}</small>
      {% endfor %}
      </div>
   {% endfor %}
   <br>
   <button>Submit</button>
</form>


{% endblock %}