{% extends 'base.html' %}

{% block title %}
Users List
{% endblock %}

{% block body %}
<h1 class="display-1 text-center">OUR USERS</h1>
<ul>
   {% for user in users%}
   <li>
   <a href="/users/{{user.user_id}}">{{user.get_full_name()}}</a>
   </li>
   {% endfor %} 
</ul>
<a href="/posts">Posts</a>
<div class="user_form">
<h2 class="display-5">Add user</h2>
<form action="/users/add-user" method="POST">
   <input type="text" name="fname" placeholder="first name">
   <br>
   <input type="text" name="lname" placeholder="last name">
   <br>
   <input type="text" name="img_url" placeholder="image url">
   <br>
   <button class="btn btn-primary">Submit User</button>
</form>
</div>
{% endblock %}