{% extends 'base.html' %}

{% block title %}
Users List
{% endblock %}

{% block body %}
<h1 class="display-2 text-center mb-100">Welcome to BlogLy!</h1>

<div class="container text-center">
   <div class="row">
     <div class="col-2">
      <ul id="users-list">
         {% for user in users%}
         <li>
         <a href="/users/{{user.user_id}}">{{user.get_full_name()}}</a>
         </li>
         {% endfor %} 
      </ul>
     </div>
     <div class="col">
      <!-- spacer -->
     </div>
     <div class="col-2">
      <div class="user_form">
         <h2 class="display-6">Add user</h2>
         <form action="/users/add-user" method="POST">
            {% for field in form
               if field.widget.input_type != 'hidden' %}
               {{field.label}}
               {{field}}
            {% endfor %}
            <button>Submit</button>
         </form>
         <!-- old add user below using WTForms now -->
         <!-- ******************************************************** -->
         <!-- <form action="/users/add-user" method="POST">
            <input type="text" name="fname" placeholder="first name">
            <br>
            <input type="text" name="lname" placeholder="last name">
            <br>
            <input type="text" name="img_url" placeholder="image url">
            <br>
            <button class="btn btn-primary">Submit User</button>
         </form> -->
         </div>
     </div>
   </div>
   <div class="row">
     <div class="col">
     </div>
     <div class="col">
         <a href="/posts">Posts</a>
     </div>
     <div class="col">
     </div>
   </div>
 </div>

{% endblock %}