

{% extends 'base.html' %}

{% block title %}
Users List
{% endblock %}

{% block body %}
<h1 class="display-1 text-center">Posts</h1>
<div class="container">
<table class="table bg-light">
   {% for post in posts %}
   <tr><td>{{post.content}}</td><td>{{post.poster.get_full_name()}}</td></tr>
   {% endfor %}
</table>
</div>
<div class="container">
   <form action="/posts/submit" method="POST">
      <label for="poster">Select a user:</label>
      <select name="user" id="poster">
         {% for user in users %}
         <option value="{{user.user_id}}">{{user.get_full_name()}}</option>
         {% endfor %}
      </select>
      <input type="text" placeholder="Enter post here!" name="content">
      <div class="btn btn-success">Submit</div>
   </form>
</div>
<a href="/" class="display-6">Return Home</a>
{% endblock %} 