{% extends 'base.html' %}

{% block title %}
{{user.get_full_name()}}
{% endblock %}

{% block body %}
<h1 class="display-1 text-center">User Details</h1>
<form action="/delete/{{user.id}}" method="POST">
   <div class="container">
      <table class="table table-striped text-center">
      <tbody>
         <tr>
            <td>User ID:</td>
            <td>{{user.user_id}}</td>
         </tr>
         <tr>
            <td>Name:</td>
            <td>{{user.get_full_name()}}</td>
         </tr>
         <tr>
            <td>Img URL:</td>
            <td>{{user.img_url}}</td>
         </tr>
      </tbody>
   </table>
</div>
<div class="container text-center">
   <div class="row">
     <div class="col">
      <a href="/users/edit/{{user.user_id}}" class="btn btn-primary">Edit User</a>
     </div>
     <div class="col">
      <form action="/users/delete/{{user.user_id}}" method="POST">
         <a href="/users/delete/{{user.user_id}}" class="btn btn-danger">Delete User</a>
         </form>
     </div>
   </div>
 </div>
   

</form>


{% endblock %}